*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.reference{
    position:absolute;
    margin: auto;
    left: -45px;
    right: 0; 
    top: 0; 
    bottom: 0;
    height: 460px;
    width: auto
}

.flag{
    background-color: white;
    height: 290px;
    width: 280px;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0; 
    top: 0; 
    bottom: 0;
    opacity: 0.5
}

.leaf-center{
    width: 110px;
    height: 200px;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    top: 0;
    perspective: 60px;
}

.leaf-perspective {
    width: 83px;
    height: 100%;
    position: absolute;
    left: 15px;    
    bottom: -30px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    background-color: red;
}

.leaf-left{
    width: 110px;
    height: 200px;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    top: 0;
    perspective: 60px;
    transform: rotateX(45deg);
}