body {
    background-color: #fefefe;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; 
    min-height: 100vh;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    grid-area: header;
    background-color: bisque;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main {
    grid-area: main;
    background-color: darkseagreen;
    padding: 25px;
}

main div {
    margin: 10px 0;
}

main .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main .container div:last-child{
    margin-top: auto;
}

main .container .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .container .carousel .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
}

main .container .carousel .grid div {
    font-size: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(.44,-0.27,.39,1.71);
    cursor: pointer;
    filter: grayscale(0.5);
    position: relative;
}

main .container .carousel .grid div:hover {
    transform: scale(1.5);
    filter: grayscale(0);
    z-index: 1;
}

main .container .carousel .grid:hover div:not(:hover){
    filter: grayscale(1) blur(2px);
    transform: scale(0.8);
    z-index: 0;
}

footer {
    grid-area: footer;
    background-color: gainsboro;
    padding: 25px;
}
